beautifulsoup4
markupsafe
blinker
deprecated
elasticsearch
Faker
feedparser
flask
Flask-Assets
flask_cors
flask_sqlalchemy
jieba3k
jinja2
langdetect
lxml
mysqlclient
newspaper3k
nltk
numpy
Pillow
pyphen
regex
requests
requests_mock
sentry-sdk[flask]
sortedcontainers
SQLAlchemy
google-cloud-texttospeech
timeago
pymysql
yagmail
google
protobuf
elasticsearch_dsl
wheel
pytest